.main-title {
    color: rgb(59, 57, 44);
    text-align: center;
    background-color: antiquewhite;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 50px;
    height: 40px;
    width: 400px;
    
    
}
a {
    background-color: honeydew;
    color: black;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 20px;
    font-weight: 700;
}
a:hover {
    background-color: beige;
}
body {
    background-color: slategray;
}

.miso-title {
    color: rgb(59, 57, 44);
    text-align: center;
    background-color: antiquewhite;
}
.tonkotsu-title {
    color: rgb(59, 57, 44);
    text-align: center;
    background-color: antiquewhite;
}
/* {
    border: 2px solid red;
}
